[submodule "lib/stm32-lib"]
	path = lib/stm32-lib
	url = https://github.com/jaxxzer/stm32-lib
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/jaxxzer/stm32-lib
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3
