[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/jaxxzer/stm32-lib
[submodule "lib/stm32-boilerplate"]
	path = lib/stm32-boilerplate
	url = https://github.com/jaxxzer/stm32-boilerplate
[submodule "lib/ping-cpp"]
	path = lib/ping-cpp
	url = https://github.com/jaxxzer/ping-cpp
